@media screen and (max-width: 576px) {
   .banner,
   .section-content,
   .skill-container,
   .hot-deal-main{
    flex-direction: column;
   } 
   #featured{
      padding: 40px 0px;
   }
   #skills{
      background: none;
   }
   .skill-container{
      gap: 20px;
     
   }
}