@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
}

p {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
}

button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #E55473;
    padding: 15px 28px;
    border: none;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background-color: #5ee554;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

header {
    background-color: rgba(229, 84, 115, 0.1);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px 70px;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-text h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* featured styles */
#featured {
    padding: 80px 0px;
}

.section-heading h2 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 16px;
}

.section-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
}

.section-content .flower .flower-img {
    background-color: #E55473;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0px;
    height: 420px;
    display: flex;
}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .pink {
    background-color: #A7216226
}

.section-content .flower .blue {
    background-color: #0597A026;
}

.section-content .flower .green {
    background-color: #477D1126;
}

.section-content .flower p {
    color: rgb(39, 39, 39);
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* skill styles */
#skills {
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 70px 0px;
    text-align: center;
}

/* hot-deal styles */
#hot-deal {
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 60px;
}

.hot-deal-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0px;
}

.hot-deal-text {
    width: 75%;
    max-width: 550px;
    text-align: center;
}
.hot-deal-text *{
    margin-bottom: 24px;
}

.hot-deal-text h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 24px;

}
.hot-deal-text .important{
    color: #E55473;
}
.hot-deal-img img{
    max-width: 240px;
}
